
body {
  background-color: #f8f9fa;
  padding-top: 50px;
}
.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
}